#*.tar
#/*
#ros-*
#!/desktop-xenial-nvidia-kinetic/
#!/desktop-xenial-nvidia-kinetic/*
#!MakeDockerContainer.sh
#!.gitignore

*
!.gitignore
!*.sh
!/desktop-xenial-nvidia-kinetic/
!/desktop-xenial-nvidia-kinetic/*
!/desktop-xenial-nvidia-kinetic-vnc/
!/desktop-xenial-nvidia-kinetic-vnc/*
*.tar
*.directory

